{% extends 'crmnavv.html' %}
{% block content %}
{% load static %}

<main>
   
<section>
    <div class="text-center">
        <a href="" class="btn btn-success mt-5">Start now<span class="d-none d-md-inline"> - It's free</span></a>
                    
            <a  href="" class="btn btn-light mt-5">
                Schedule a demo
            </a>
    </div>
</section>

<div class="container">
<div class="row mt-5"  style="text-align: center;">
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
            <img   src="//download.odoocdn.com/icons/account_accountant/static/description/icon.svg"/>
            <p>Accounting</p>
        
    </a>
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
        <img   src="https://download.odoocdn.com/icons/knowledge/static/description/icon.svg"/>
        <p >Knowledge</p>
    
</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
    <img   src="https://download.odoocdn.com/icons/sign/static/description/icon.svg"/>
    <p>Sign</p>

</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">

<img   src="https://download.odoocdn.com/icons/crm/static/description/icon.svg"/>
<p >CRM</p>

</a>

</div>
<div class="row mt-5"  style="text-align: center;">
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
            <img   src="https://download.odoocdn.com/icons/web_studio/static/description/icon.svg"/>
            <p>Studio</p>
        
    </a>
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
        <img   src="https://download.odoocdn.com/icons/sale_subscription/static/description/icon.svg"/>
        <p >Subscription</p>
    
</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
    <img   src="https://download.odoocdn.com/icons/sale_renting/static/description/icon.svg"/>
    <p>Rental</p>

</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">

<img   src="https://download.odoocdn.com/icons/point_of_sale/static/description/icon.svg"/>
<p >Point of Sale</p>

</a>

</div>
<div class="row mt-5"  style="text-align: center;">
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
            <img   src="https://download.odoocdn.com/icons/mail/static/description/icon.svg"/>
            <p>Discuss</p>
        
    </a>
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
        <img   src="https://download.odoocdn.com/icons/documents/static/description/icon.svg"/>
        <p >Documents</p>
    
</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
    <img   src="https://download.odoocdn.com/icons/project/static/description/icon.svg"/>
    <p>Project</p>

</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">

<img   src="https://download.odoocdn.com/icons/hr_timesheet/static/description/icon.svg"/>
<p >Timesheets</p>

</a>

</div>
<div class="row mt-5"  style="text-align: center;">
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
            <img   src="https://download.odoocdn.com/icons/industry_fsm/static/description/icon.svg"/>
            <p>Field Services</p>
        
    </a>
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
        <img   src="https://download.odoocdn.com/icons/planning/static/description/icon.svg"/>
        <p >Planning</p>
    
</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
    <img   src="https://download.odoocdn.com/icons/helpdesk/static/description/icon.svg"/>
    <p>Helpdesk</p>

</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">

<img   src="https://download.odoocdn.com/icons/website/static/description/icon.svg"/>
<p >Website</p>

</a>

</div>
<div class="row mt-5"  style="text-align: center;">
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
            <img   src="https://download.odoocdn.com/icons/social/static/description/icon.svg"/>
            <p>Social Marketing</p>
        
    </a>
    <a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
        <img   src="https://download.odoocdn.com/icons/mass_mailing/static/description/icon.svg"/>
        <p >Email Marketing</p>
    
</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">
        
    <img   src="https://download.odoocdn.com/icons/purchase/static/description/icon.svg"/>
    <p>Purchase</p>

</a>
<a href="" class="col-lg-3 mb-2" style="text-decoration: none;color: black;">

<img   src="https://download.odoocdn.com/icons/stock/static/description/icon.svg"/>
<p >Inventory</p>

</a>

</div>
</div>
</main>


{% endblock %}