{% extends 'crmusernav.html' %}
{% block content %}
{% load static %}

<main>
    <section class="mb-5">
        <div class="container-fluid" style="background-image: linear-gradient(to right, rgb(21, 147, 220) , rgb(169, 232, 227));text-align: center;">
            <h1 class="text-white " style="padding-top: 8%;font-size: 5rem;">Choose your Apps</h1>
                    <h5 class="text-white" style="padding-bottom: 8%;">Free instant access, no credit card required.</h5>
        </div>
    </section>
    <div class="container">
      <div id="delete-icon" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer;z-index: 9999; ">
        <i class="fa-solid fa-box-archive" style="color: #000000;font-size: 5rem;"></i>
</div>
<div class="row mt-3" id="card-container">
<div class="col-sm-4 mb-3">
  <div class="card" style="border-top: 5px solid red;" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)">
      <div class="card-body">
          <h1 class="card-title text-info">Light Room</h1>
          <hr style="border-color: green; margin: 0 auto 0 0;">
          <p class="card-text ">Rs<b style="font-size: 5rem;" class="text-primary">600</b></p>
          <button type="submit" class="btn btn-info btn-block mt-4 mb-4 "><a href="" style="color: white;text-decoration: none;">Buy</a></button>
      </div>
  </div>
</div>
<div class="col-sm-4 mb-3">
  <div class="card" style="border-top: 5px solid yellow;" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)">
      <div class="card-body">
          <h1 class="card-title text-info">Snapseed</h1>
          <hr style="border-color: green; margin: 0 auto 0 0;">
          <p class="card-text ">Rs<b style="font-size: 5rem;" class="text-primary">500</b></p>
          <button type="submit" class="btn btn-info btn-block mt-4 mb-4 "><a href="" style="color: white;text-decoration: none;">Buy</a></button>
      </div>
  </div>
</div>
<div class="col-sm-4 mb-3">
  <div class="card" style="border-top: 5px solid green;" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)">
      <div class="card-body">
          <h1 class="card-title text-info">Autocad</h1>
          <hr style="border-color: green; margin: 0 auto 0 0;">
          <p class="card-text ">Rs<b style="font-size: 5rem;" class="text-primary">750</b></p>
          <button type="submit" class="btn btn-info btn-block mt-4 mb-4 "><a href="" style="color: white;text-decoration: none;">Buy</a></button>
      </div>
  </div>
</div>
</div>

<div class="row mt-3" id="card-container">
<div class="col-sm-4 mb-3">
  <div class="card" style="border-top: 5px solid red;" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)">
      <div class="card-body">
          <h1 class="card-title text-info">Photoshop</h1>
          <hr style="border-color: green; margin: 0 auto 0 0;">
          <p class="card-text ">Rs<b style="font-size: 5rem;" class="text-primary">750</b></p>
          <button type="submit" class="btn btn-info btn-block mt-4 mb-4 "><a href="" style="color: white;text-decoration: none;">Buy</a></button>
      </div>
  </div>
</div>
<div class="col-sm-4 mb-3">
  <div class="card" style="border-top: 5px solid yellow;" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)">
      <div class="card-body">
          <h1 class="card-title text-info">3DX max</h1>
          <hr style="border-color: green; margin: 0 auto 0 0;">
          <p class="card-text ">Rs<b style="font-size: 5rem;" class="text-primary">850</b></p>
          <button type="submit" class="btn btn-info btn-block mt-4 mb-4 "><a href="" style="color: white;text-decoration: none;">Buy</a></button>
      </div>
  </div>
</div>
<div class="col-sm-4 mb-3">
  <div class="card" style="border-top: 5px solid green;" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)">
      <div class="card-body">
          <h1 class="card-title text-info">VS Code</h1>
          <hr style="border-color: green; margin: 0 auto 0 0;">
          <p class="card-text ">Rs<b style="font-size: 5rem;" class="text-primary">750</b></p>
          <button type="submit" class="btn btn-info btn-block mt-4 mb-4 "><a href="" style="color: white;text-decoration: none;">Buy</a></button>
      </div>
  </div>
</div>
</div>
   
    
    <div class="row mt-5"  style="text-align: center;">
        <a href="" class="col-lg-2 mb-2" style="text-decoration: none;color: black;">
            
                <img   src="https://download.odoocdn.com/icons/web_studio/static/description/icon.svg"/>
                <p>Studio</p>
            
        </a>
        <a href="" class="col-lg-2 mb-2" style="text-decoration: none;color: black;">
            
            <img   src="https://download.odoocdn.com/icons/sale_subscription/static/description/icon.svg"/>
            <p >Subscription</p>
        
    </a>
    <a href="" class="col-lg-2 mb-2" style="text-decoration: none;color: black;">
            
        <img   src="https://download.odoocdn.com/icons/sale_renting/static/description/icon.svg"/>
        <p>Rental</p>
    
    </a>
    <a href="" class="col-lg-2 mb-2" style="text-decoration: none;color: black;">
    
    <img   src="https://download.odoocdn.com/icons/point_of_sale/static/description/icon.svg"/>
    <p >Point of Sale</p>
    
    </a>
    <a href="" class="col-lg-2 mb-2" style="text-decoration: none;color: black;">
            
        <img   src="https://download.odoocdn.com/icons/mail/static/description/icon.svg"/>
        <p>Discuss</p>
    
</a>
<a href="" class="col-lg-2 mb-2" style="text-decoration: none;color: black;">
    
    <img   src="https://download.odoocdn.com/icons/documents/static/description/icon.svg"/>
    <p >Documents</p>

</a>
    </div>
    <div><a href="" style="text-decoration: none;"> <h5 class="text-info text-center">click for more<img class="ml-2" src="https://odoocdn.com/openerp_website/static/src/img/arrows/secondary_arrow_sm_03.svg" width="40px" class="align-baseline ms-3" alt="" loading="lazy"/></h5></a></div>

</div>
</main>
<script>
    let deleteIcon = document.getElementById("delete-icon");

    function drag(event) {
        // Show the delete icon when dragging starts
        deleteIcon.style.display = "block";
        event.dataTransfer.setData("text", event.target.id);
    }

    function dragEnd(event) {
        // Hide the delete icon when dragging ends
        deleteIcon.style.display = "none";
    }

    document.addEventListener("dragover", function (event) {
        // Prevent default to allow drop
        event.preventDefault();
    });

    document.addEventListener("drop", function (event) {
        // Prevent default action (open as link for some elements)
        event.preventDefault();
        // Get the dropped card
        let data = event.dataTransfer.getData("text");
        let droppedCard = document.getElementById(data);
        // Check if the dropped card is near the delete icon
        let deleteIconBounds = deleteIcon.getBoundingClientRect();
        let cardBounds = droppedCard.getBoundingClientRect();
        // Check if the center of the dropped card is within the delete icon bounds
        if (cardBounds.left <= deleteIconBounds.right &&
        cardBounds.right >= deleteIconBounds.left &&
        cardBounds.top <= deleteIconBounds.bottom &&
        cardBounds.bottom >= deleteIconBounds.top) {
        // If dropped near delete icon, remove the card from the DOM
        droppedCard.parentElement.remove();
        // Get card data
        let cardTitle = droppedCard.querySelector('.card-title').innerText.trim();
        let cardColor = droppedCard.style.borderTopColor;
        let cardPrice = droppedCard.querySelector('.text-primary').innerText.trim();
        // Encode card data for URL
        let encodedCardData = encodeURIComponent(JSON.stringify({
            title: cardTitle,
            color: cardColor,
            price: cardPrice
        }));
        // Redirect to archive page with card data
        window.location.href = "{% url 'crmarchive' %}?card=" + encodedCardData;
    }
    });
</script>

{% endblock %}
